@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-primary text-2xl font-bold md:text-4xl text-dracula-buffy;
  }

  h2 {
    @apply font-primary text-xl font-bold md:text-3xl text-dracula-dracula mb-4;
  }

  h3 {
    @apply font-primary text-lg font-bold md:text-2xl text-dracula-buffy mb-2;
  }

  h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body {
    @apply font-primary text-sm md:text-sm;
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #71779f;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

@font-face {
  font-family: 'Cubic';
  src: url('/fonts/cubic.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'KuGraph';
  src: url('/fonts/kug.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Ku';
  src: url('/fonts/ku.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'CubicBlock';
  src: url('/fonts/cubicblock_s.ttf');
  font-display: swap;
}

html,
body {
  --buffy: #ff79c6;
  --color-background: #000119;
  --stroke-width: 1rem;
  --font-weight: 700;
  --letter-spacing: calc(1em / 8);


  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #373a4d;
  touch-action: none;
}

.wt-text-shadow {
  text-shadow: 1px 1px 0 #ff79c6, 2px 2px 0 #ff79c6, 3px 3px 0 #ff79c6,
    4px 4px 0 #ff79c6;
}

.purple-text-shadow {
  text-shadow: 1px 1px 0 #bd93f9, 2px 2px 0 #bd93f9, 3px 3px 0 #bd93f9,
    4px 4px 0 #bd93f9;
}

.vd-text-shadow {
  text-shadow: 4px 0px 0 #555555, 5px 1px 0 #ff79c6, 6px 1px 0 #ff79c6,
    7px 1px 0 #ff79c6, 8px 1px 0 #ff79c6;
}

.transition-color-apply * {
  transition-property: color;
  transition-duration: 500ms;
}

.yt-lite {
  background-color: #000;
  position: relative;
  display: block;
  contain: content;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

/* gradient */
.yt-lite::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
  background-position: top;
  background-repeat: repeat-x;
  height: 60px;
  padding-bottom: 50px;
  width: 100%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

/* responsive iframe with a 16:9 aspect ratio
    thanks https://css-tricks.com/responsive-iframes/
*/
.yt-lite::after {
  content: '';
  display: block;
  padding-bottom: calc(100% / (16 / 9));
}
.yt-lite > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* play button */
.yt-lite > .lty-playbtn {
  width: 70px;
  height: 46px;
  background-color: #212121;
  z-index: 1;
  opacity: 0.8;
  border-radius: 14%; /* TODO: Consider replacing this with YT's actual svg. Eh. */
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.yt-lite:hover > .lty-playbtn {
  background-color: #f00;
  opacity: 1;
}
/* play button triangle */
.yt-lite > .lty-playbtn:before {
  content: '';
  border-style: solid;
  border-width: 11px 0 11px 19px;
  border-color: transparent transparent transparent #fff;
}

.yt-lite > .lty-playbtn,
.yt-lite > .lty-playbtn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

/* Post-click styles */
.yt-lite.lyt-activated {
  cursor: unset;
}
.yt-lite.lyt-activated::before,
.yt-lite.lyt-activated > .lty-playbtn {
  opacity: 0;
  pointer-events: none;
}

.progress-bar {
  position: fixed;
  top: 1.75rem;
  left: 0;
  right: 0;
  height: 4px;
  background: var(--buffy);
  background: linear-gradient(
    90deg,
    rgba(34, 34, 34, 1) 0%,
    rgba(189, 147, 249, 1) 50%,
    rgba(255, 121, 198, 1) 100%
  );
  transform-origin: 0%;
}

iframe {
  border-radius: 16px;
}

.oshinoko-character-name {
  background-clip: text;
  -webkit-text-stroke: 1px white;
  opacity: 0.2;
  color: transparent;
  font-style: italic;
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  padding: calc(--stroke-width / 2);
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #924ff2;
}

::selection {
  color: white;
  background: #924ff2;
}

.rehype-code-title {
  padding-left: 1rem;
  padding-right: 1rem; 
  padding-top: 0.25rem; 
  padding-bottom: 0.5rem; 
  margin-bottom: -0.75rem; 
  border-top-left-radius: 0.5rem; 
  border-top-right-radius: 0.5rem; 
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
  font-size: 0.875rem;
  line-height: 1.25rem; 
  color: #E5E7EB; 
  background-color: #222222;
  width: 100%;
  height: 100%;
}

.rehype-code-title pre {
  border-top-left-radius: 0rem; 
  border-top-right-radius: 0rem; 
}
