.avator {
  text-align: center;
  display: block;
  position: relative;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  border: 2px solid #27afe6;
  background-image: url('../images/avator.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15vh 15vh;
  margin: auto;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  transition: 1s;
	transform-style: preserve-3d;
	transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.avator:hover{
	transform: rotate3d(0, -1, 0, 180deg);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbox {
  width: 100vw;
  margin-top: auto;
  display: block;
  position: absolute;
  z-index: 3;

  padding-top: 20vh;
}

@media only screen and (min-width: 768px) {
  .navbox {
    padding-top: 30vh;
  }
}

.gh_name {
  color: white;
  font-size: 2em;
  text-align: center;
  display: block;
  position: relative;
  padding-top: 15px;
}

.name {
  color: white;
  font-size: 1em;
  text-align: center;
  display: block;
  position: relative;
  padding-top: 5px;
}

.curlyb {
  font-size: 7vh;
  color: #27afe6;
  text-shadow: 1px 1px #06668b, 2px 2px #06668b, 3px 3px #06668b;
}

.gh_name a {
  color: inherit;
  text-decoration: none;
}

.gh_name a:hover {
  color: #27afe6;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.twcontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.typewriter {
  text-align: center;
  display: inline-block;
 
}

.typewriter h1 {
  font-size: 14px;
  color: white;
  padding-top: 15px;
  display: block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #27afe6; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}


@media only screen and (min-width: 768px) {
  .typewriter h1 {
    font-size: 2em;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #27afe6;
  }
}